.sudokuActivCell{
    background-color:#ff8a00;
}

.sudokuBoard{
    background-color:#fff;
}

.sudoku-button-shadow{
    background-color:#000000;
}
.sudoku-button{
    cursor:pointer;
    font-family:arial;
    text-align:center;
    position:absolute;
    background-color:#669900;
    color:#FFF;
}



.sudoku-button-over{
    background-color:#6da000;
}
.sudoku-button-active{
    background-color:#ff8a00;
}
.sudoku-button-active-over{
    background-color:#e57a00;
}

.sudoku-button-pencil{
    background-color:#0099cc;
}

.sudoku-button-pencil-over{
    background-color:#0086b3;
}

